* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    font-size: 20px;
}

html,
body,
#root {
    border: 0px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #e8f5e9;
    /* position: relative; */
}